# Node
frontend/node_modules/
frontend/dist/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
miraza-venv/
*.egg-info/

# Entorno
.env
.env.*

# Base de datos local
database/*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*:Zone.Identifier
